@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/game-background.png");
  background-size: auto;
  font-family: cinzel; 
}

#root {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  color: #f5f5f5;
  text-align: center;

}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  list-style: none;
  max-width: 600px;
  margin: 25px auto 0;
}

li {
  border: 1px solid #444;
  border-radius: 10px;
  background: linear-gradient(to right, #272932, #710000, #fdf500);
  display: flex;
  white-space: nowrap;
  margin-right: 50px;
  padding: 5px;
  position: relative;
}

.delete-button {
  background: transparent;
  border: none;
  margin-left: auto;
  font-weight: bold;
}

.game-input {
  border-radius: 10px;
  margin-right: 10px;
  padding: 8px;
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

.add-button {
  border-radius: 10px;
  padding: 8px;
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #555;
}

.game-checkbox {
position: absolute;
right: 25px;
}